

  /* BannedAccount.css */

.background-container {
    background: linear-gradient(90deg, #3498db, #e74c3c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .content {
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .content h1 {
    font-size: 36px;
    margin: 0;
    padding: 10px;
  }
  
   .banokbut{
    background: #3498db; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
  }/* Smooth background color transition */
  
    /* Hover effect */
    .banokbut:hover {
      background: #2980b9; /* Button background color on hover */
    }